.board-wrapper {
  width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-form input {
  height: 50px;
  font-size: 24px;
}

.search-form input[type="text"] {
  width: 70%;
  margin-right: 5%;
  height: 45px;
  border: 1px solid lightblue;
  color: coral;
}

.search-form input[type="button"] {
  border: 1px solid lightblue;
  width:25%;
  cursor:pointer;
  color: lightskyblue;
}
.search-form input[type="button"]:hover {
  color: lightcoral;
}

.board-wrapper ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.tweet-container {
  border: 1px solid lightblue;
  color: lightskyblue;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.tweet-user-name {
  color: coral;
  font-size: 20px;
  padding-left: 20px;
}

.tweet-text {
  font-size: 14px;
  padding-left: 10px;
}

.tweet-text:hover {
  color: coral
}